@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;500&display=swap');
nav{
    min-height: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{
        background: transparent;
        padding: 0.5rem;
        border: 2px solid rgb(65, 65, 65);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        margin-top: 0.5rem;
        cursor: pointer;
        &:hover{
            background: rgb(65, 65, 65);
            color: #fff;
            border: 2px solid rgb(240, 240, 240);
        }
    }
}

.displaysong{
    display: none;
}

#songlist-span{
    margin-right: 7px;
    font-family: 'Roboto Serif', sans-serif;
}
#app-title{
    font-family: 'Roboto Serif', sans-serif;
    color: #c00;
}